@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Inter:wght@900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    background-image:url("asset/bgn.png");
}
nav {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    margin-right: auto;
}
nav a {
    text-decoration: none;
    color: black;
}
nav img{
    max-inline-size: 20px;
}
.menu button {
    margin-left: 5px;
}
.menu{
    margin-left: auto;
    margin-right: 15px;
}
input{
    border-radius: 15px;
    width: 500px;
    padding :7px;
    padding-left: 40px;
}
.img{
    margin-left: 10px;
    margin-top: -25px;
}

.foto img{
    float: center;
    margin-top: 20px;
    margin-left:275px;
    margin-right: 275px;
    width:700px;
    height:500px;
    border-radius: 2%;
}

.content input {
    background-color: #43C2FF;
    border-radius: 10px;
    width: 400px;
    height: 35px;
    padding-left: 15px;
    border: none;
} 

.content button{
    background-color: #43C2FF;
    border-radius: 10px;
    color: white;
    width: 300px;
    height: 50px;  
    border: none;
    margin-top: 20px;
    border: solid #43C2FF;
    transition-duration: 0.5s;
}


.content button:hover {
    background-color: white; 
    color: #43C2FF;
}



.content{
    margin-top: 30px;
    padding: 30px 75px 30px 75px;
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    margin-bottom: 30cm;
}

form {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Andika',sans-serif;
}

form input{
    margin-bottom: 20px;
}


.judul{
    margin-bottom: 50px;
	text-align: center;
}

/* .kotak_login{
	width: 350px;
	background: white; */
	/*meletakkan form ke tengah*/
	/* margin: 80px auto;
	padding: 30px 20px;
} */ 
